/* @tailwind base;
@tailwind components;
@tailwind utilities;

/* Active NavLink */
.nav-links .active {
  text-decoration: underline;
  color: #ff6200; /* yellow-orange accent */
  font-weight: bold;
} */
